# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/.obsidian/plugins/obsidian-sync-yuque

# production
/es
/dist
/lib

# misc
/.DS_Store
/.github/.DS_Store
/.obsidian/plugins/.DS_Store
/coverage

# umi
.umi
.umi-production
.umi-test
.env.local

# ide
/.vscode
/.idea

# 个人
/Extras/Media
/Extras/Media/Images
.DS_Store
