.homePage table {
  table-layout: fixed;
  width: 95%;
  font-family: Poppins-Regular;
  margin-bottom: 0;
  margin: auto;
}

.homePage .table-view-th {
  color: #fff !important;
}

.homePage thead tr th {
  background-color: #6c7ae0;
  line-height: 2;
  color: #fff;
  position: sticky;
  z-index: 3;
  top: 0;
}

.homePage table tbody td{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.homePage table td {
  border-bottom: 0.08rem solid #f2f2f2 !important;
}

.homePage tbody tr:hover {
  background-color: #ececff;
  color: #403E10;
  font-weight: bold;
  
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: all;
  transition-timing-function: line;
}

.homePage .cm-preview-code-block {
  border: none !important;
}

.homePage .block-language-dataview {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  overflow: auto;
}

.markdown-preview-view th:first-child, .markdown-preview-view td:first-child {
  padding-left: 10px;
}

/* dashboard */

.homePage {
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 20px !important;
}

.homePage .markdown-preview-section {
  max-width: 100%;
}

/* Title at top of the document */
.homePage .markdown-preview-section .title {
  top: 90px;
  position: absolute;
  font-size: 40pt !important;
  font-weight: bolder;
  letter-spacing: 8px;
}

.homePage h1 {
  border-bottom-style: dotted !important;
  border-width: 1px !important;
  padding-bottom: 3px !important;
}

.homePage div > ul {
  list-style: none;
  display: flex;
  column-gap: 50px;
  row-gap: 30px;
  flex-flow: row wrap;
}

.homePage div > ul > li {
  min-width: 250px;
  width: 15%;
}
